<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madchan.supportandroid12">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />-->

    <application
        android:name=".SupportAndroid12Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupportAndroid12">
        <activity
            android:name=".pendingIntentsMutability.PendingIntentsMutabilityActivity"
            android:exported="false" />
        <activity
            android:name=".saferComponentExporting.SaferComponentExportingActivity"
            android:exported="false" />
        <activity
            android:name=".appSplashScreens.AppSplashScreensActivity"
            android:exported="false" />

        <receiver
            android:name=".exactAlarmPermission.ExactAlarmPermissionReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notificationTrampolineLimit.NotificationTrampolineLimitReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notificationTrampolineLimit.NotificationTrampolineLimitService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".foregroundServiceLimit.ForegroundServiceLimitService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".exactAlarmPermission.ExactAlarmPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".customNotification.CustomNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".approximateLocation.ApproximateLocationActivity"
            android:exported="false" />
        <activity
            android:name=".notificationTrampolineLimit.NotificationTrampolineLimitActivity"
            android:exported="false" />
        <activity
            android:name=".foregroundServiceLimit.ForegroundServiceLimitActivity"
            android:exported="false" />
        <activity
            android:name=".toggleMicAndCamera.ToggleMicActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting.Normal">

            <!-- <activity -->
            <!-- android:name=".SplashActivity" -->
            <!-- android:exported="true" -->
            <!-- android:theme="@style/Theme.App.Starting.Simple" > -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.madchan.supportandroid12.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>